.picture{
    width: 80px;
    height: 80px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pad{
    padding: 0 1em 0 1em;
    user-select: none;
}
.flexCount{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p{
    padding-top: 0.5em;
    text-align: center;
}
.nullCart{
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.map{
    display: flex;
    justify-content: center;
}
.pred{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
}
.radioGroup{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}