.spiner{
    margin-top: 45%;
    margin-left: 45%;
    height: 9rem;
}
.row{
    margin-bottom: 300px;
}
.scam{
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.scamButton{
    display: flex;
    justify-content: center;
}
.img{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
}